-# Combine all childrens
- from = [from]  unless from.is_a?(Array)
- childrens = from.compact.map { |p| page_children(p) }
- groups = childrens.inject({}) { |h, groups| groups.each { |k, v| h[k] ||= Array.new; h[k] += v }; h }
- suffix ||= nil

- groups.each do |type, children|
  %h3
    = type.to_s.gsub('_', ' ').capitalize
    - if suffix
      = suffix

  %ul.section
    - children.each do |method|
      %li
        %a{href: rel(method.path)}= method.title
        - unless method.meta.brief.to_s.empty?
          %span.brief= method.meta.brief
